<% provide :title, t("login.title") %>

  <% flash.each do |message_type, message| %>
    <div class="alert custom-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= form_for :session, url: signin_path, html: {class: "login-form"} do |f| %>

    <%= f.text_field :user_name, placeholder: t("username") %>

    <%= f.password_field :password, placeholder: t("password") %>

    <%= f.submit t("login.submit"), class: "submit" %>
    <p class="message"> <%= t "login.not_registered" %>
      <%= link_to t("login.create_an_account"), signup_path %>
    </p>
  <% end %>
