<% provide :title, t("signup.title") %>
<% provide :url, signup_path  %>
<% provide :button, t("signup.submit") %>
<% provide :message do %>
  <p class="message"><%= t "signup.already_registered" %>
  <%= link_to t("signup.signin"), signin_path %>
  </p>
<% end %>

<% flash.each do |message_type, message| %>
  <div class="alert custom-<%= message_type %>"><%= message %></div>
<% end %>
<%= render "form" %>
