<% provide :title, t("home.title") %>

<div class="tour container">
  <h4 ><b>  <%= t "nav.tours" %> <hr/> </b></h4>
    <div class="action">
      <a href="#itemslider" data-slide="prev"> <%= image_tag("pre.png", alt: "Left") %></a>
      <a href="#itemslider" data-slide="next"> <%= image_tag("next.png", alt: "Right") %></a>
    </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
             <a href=""> <%= image_tag "1.jpg" %> </a>
                <div class="text-detail">
                <a href="" ><h5><b>HÀ NỘI - HẠ LONG - CÁT BÀ - HÀ NỘI </b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "2.jpg" %> </a>
              <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - HUẾ </b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "3.jpg" %> </a>
              <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "4.jpg" %> </a>
                <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - CÙ LAO CHÀM</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                 </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "3.jpg" %> </a>
               <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                 </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
             <a href=""><%= image_tag "3.jpg" %> </a>
             <div class="text-detail">
            <a href="">    <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="banner-thuyen">
    <div class="op-thuyen">
        <div class="hotline">
        <div class="hcn">
            <h5 class="text-center"> <b> <%= t "home.contact" %> </b></h5>
                    <h3 class="text-center cl-red"> <%= image_tag "icon-phone.png" %> <%= Settings.phone %></h3>
        </div>
    </div>
    </div>

</div>


<div class="tour container">
    <h4 ><b> <%= t "nav.news" %> <hr/> </b></h4>
    <!-- left,right control -->
      <div class="action">
        <a href="#itemslider2" data-slide="prev"> <%= image_tag("pre.png", alt: "Left") %></a>
        <a href="#itemslider2" data-slide="next"> <%= image_tag("next.png", alt: "Right") %></a>
      </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider2">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
             <a href=""> <%= image_tag "1.jpg" %> </a>
                <div class="text-detail">
                <a href="" ><h5> <b>HÀ NỘI - HẠ LONG - CÁT BÀ - HÀ NỘI </b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "2.jpg" %> </a>
              <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - HUẾ </b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "3.jpg" %> </a>
              <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "4.jpg" %> </a>
                <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - CÙ LAO CHÀM</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                 </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "3.jpg" %> </a>
               <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                 </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
             <a href=""><%= image_tag "3.jpg" %> </a>
             <div class="text-detail">
            <a href="">    <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="khung-ks">
  <div class="op-ks">
    <div class="container">
      <h4 ><b> <%= t "nav.food" %> <hr /> </b></h4>
     <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="carousel carousel-showmanymoveone slide" id="itemslider3">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
                  <div class="item-ks">
                    <%= image_tag "ks1.jpg" %>
                    <div class="text">
                      <h5> <b> KHÁCH SẠN MƯỜNG THANH </b> </h5>
                      <p> 962 Ngô Quyền, quận Sơn Trà, Tp Đà Nẵng
                      <br/>
                      <span class="xanh"> Tình trạng : </span> Còn phòng
                      <br/>
                      <span class="xanh"> Giá : </span>Thỏa thuận </p>
                    </div>

                    <div class="ks-footer">
                      <div class="rating">
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star black-star"></i>
                          <i class="fa fa-star black-star"></i>
                      </div>
                      <div class="datphong">
                          <a href=""> ĐẶT PHÒNG >> </a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>

          <div class="item">
              <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
                  <div class="item-ks">
                    <%= image_tag "ks1.jpg" %>
                    <div class="text">
                      <h5> <b> KHÁCH SẠN MƯỜNG THANH </b> </h5>
                      <p> 962 Ngô Quyền, quận Sơn Trà, Tp Đà Nẵng
                      <br/>
                      <span class="xanh"> Tình trạng : </span> Còn phòng
                      <br/>
                      <span class="xanh"> Giá : </span>Thỏa thuận </p>
                    </div>

                    <div class="ks-footer">
                      <div class="rating">
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star black-star"></i>
                          <i class="fa fa-star black-star"></i>
                      </div>
                      <div class="datphong">
                          <a href=""> ĐẶT PHÒNG >> </a>
                      </div>
                    </div>
                  </div>
               </div>
          </div>

          <div class="item">
              <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
                  <div class="item-ks">
                    <%= image_tag "ks1.jpg" %>
                    <div class="text">
                      <h5> <b> Mỳ Quảng  </b> </h5>
                      <h5> <b>Tác giả: </b> Trần Quang Huy </h5>
                      <h5> <b>Ngày đăng: </b> 20/10/2019</h5>
                      <h5> <b>Lượt like : </b> 24 </h5>
                      <h5> <b>Comment : </b> Chưa có comment </h5>
                    </div>
                  </div>
              </div>
          </div>

           <div class="item">
              <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
                  <div class="item-ks">
                    <%= image_tag "ks1.jpg" %>
                    <div class="text">
                      <h5> <b> KHÁCH SẠN MƯỜNG THANH </b> </h5>
                      <p> 962 Ngô Quyền, quận Sơn Trà, Tp Đà Nẵng
                      <br/>
                      <span class="xanh"> Tình trạng : </span> Còn phòng
                      <br/>
                      <span class="xanh"> Giá : </span>Thỏa thuận </p>
                    </div>

                    <div class="ks-footer">
                      <div class="rating">
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star black-star"></i>
                          <i class="fa fa-star black-star"></i>
                      </div>
                      <div class="datphong">
                          <a href=""> ĐẶT PHÒNG >> </a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>

           <div class="item">
              <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
                  <div class="item-ks">
                    <%= image_tag "ks1.jpg" %>
                    <div class="text">
                      <h5> <b> KHÁCH SẠN MƯỜNG THANH </b> </h5>
                      <p> 962 Ngô Quyền, quận Sơn Trà, Tp Đà Nẵng
                      <br/>
                      <span class="xanh"> Tình trạng : </span> Còn phòng
                      <br/>
                      <span class="xanh"> Giá : </span>Thỏa thuận </p>
                    </div>

                    <div class="ks-footer">
                      <div class="rating">
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star black-star"></i>
                          <i class="fa fa-star black-star"></i>
                      </div>
                      <div class="datphong">
                          <a href=""> ĐẶT PHÒNG >> </a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>

           <div class="item">
              <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
                  <div class="item-ks">
                    <%= image_tag "ks1.jpg" %>
                    <div class="text">
                      <h5> <b> KHÁCH SẠN MƯỜNG THANH </b> </h5>
                      <p> 962 Ngô Quyền, quận Sơn Trà, Tp Đà Nẵng
                      <br/>
                      <span class="xanh"> Tình trạng : </span> Còn phòng
                      <br/>
                      <span class="xanh"> Giá : </span>Thỏa thuận </p>
                    </div>

                    <div class="ks-footer">
                      <div class="rating">
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star-o yellow-star"></i>
                          <i class="fa fa-star black-star"></i>
                          <i class="fa fa-star black-star"></i>
                      </div>
                      <div class="datphong">
                          <a href=""> ĐẶT PHÒNG >> </a>
                      </div>
                    </div>
                  </div>
            </div>
          </div>





            </div>
    <!-- left,right control -->

            <a href="#itemslider3" data-slide="prev">
              <%= image_tag("pre.png", alt: "Left", class: "pre-ks") %></a>
            <a href="#itemslider3" data-slide="next"><%= image_tag("next.png", alt: "Right", class: "next-ks") %></a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="tour container">
    <h4 ><b> <%= t "nav.place" %> <hr/> </b></h4>
    <!-- left,right control -->
      <div class="action">
        <a href="#itemslider4" data-slide="prev"> <%= image_tag("pre.png", alt: "Left") %></a>
        <a href="#itemslider4" data-slide="next"> <%= image_tag("next.png", alt: "Right") %></a>
      </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider4">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
             <a href=""> <%= image_tag "1.jpg" %> </a>
                <div class="text-detail">
                <a href="" ><h5> <b>HÀ NỘI - HẠ LONG - CÁT BÀ - HÀ NỘI </b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "2.jpg" %> </a>
              <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - HUẾ </b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "3.jpg" %> </a>
              <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "4.jpg" %> </a>
                <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - CÙ LAO CHÀM</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                 </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
              <a href=""><%= image_tag "3.jpg" %> </a>
               <div class="text-detail">
               <a href=""> <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
                 </div>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-6 col-sm-6 col-md-3 col-mobile">
             <a href=""><%= image_tag "3.jpg" %> </a>
             <div class="text-detail">
            <a href="">    <h5> <b>ĐÀ NẴNG - HỘI AN - BÀ NÀ</b> </h5></a>
                <p> Thời gian: 3 ngày <br />
                Giá: Liên hệ </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
