<footer>
    <div class="op-footer">
      <div class="footer-text">
        <p>
          <span class="loloviet"><%= Settings.company %> </span>
          <br/>
           <%= t "footer.p1" %>
           <%= t "address" %></br>
           <%= t "footer.p2" %>
           <%= Settings.email %> <br />
           <%= t "footer.p3" %>
           <%= Settings.phone %> <br />
           <%= t "footer.p4" %> <br />
           <%= t "footer.p5" %>

        </p>
      <div class="footer-icon">
        <div class="circle-icon ci-twitter">
            <i class="fa fa-twitter fs-tw"></i>
        </div>

        <div class="circle-icon ci-facebook">
            <i class="fa fa-facebook-f fs-fb"></i>
        </div>

        <div class="circle-icon ci-print">
            <i class="fa fa-pinterest-p fs-pr"></i>
        </div>

        <div class="circle-icon ci-google">
            <i class="fa fa-google-plus fs-gg"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
